mysql-connector-python==8.0.33
mysqlclient==2.1.1
packaging==23.1
pbr==5.11.1
Pillow==9.4.0
platformdirs==3.0.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.3
stevedore==5.0.0
tzdata==2022.7
urllib3==2.0.3
virtualenv==20.20.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
websocket-client==1.5.2

